.fighting {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.normal {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.flying {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.poison {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.ground {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.rock {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.bug {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.ghost {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.steel {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.fire {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.water {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.electric {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.psychic {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.ice {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.dragon {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.dark {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.grass {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.fairy {
  background-image: url("../../access/Img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg");
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0;
  padding: 0;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background-image: url("https://cdn.wallpapersafari.com/31/99/VWh3CL.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.card .back .type-container h2 {
  color: #000;
  position: absolute;
  top: 50%;
  left: 55%;
  margin: -25px 0 0 -25px;
}

.card .back .type-container h1 {
  top: 3%;
  left: 45%;
}

.card .back .type-container .img-types img {
  height: 50px;
}
.card .back .type-container .img-types {
  position: relative;
  height: 30px;
  color: #000;
  bottom: -190px;
}

.card .back .type-container p {
  position: relative;
  bottom: -200px;
  color: #000;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.name {
  top: 18%;
}
